@page "/usuarios/details"
@using Escalada.API.Model
@inject NavigationManager NavigationManager
@inject UsuarioService usuarioservice

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    @if (usuario is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@usuario.Nome</dd>
            <dt class="col-sm-2">Sobrenome</dt>
            <dd class="col-sm-10">@usuario.Sobrenome</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@usuario.Email</dd>
            <dt class="col-sm-2">Telefone</dt>
            <dd class="col-sm-10">@usuario.Telefone</dd>
        </dl>
        <div>
            <a href="@($"/usuarios")">Back to List</a>
        </div>
    }
</div>

@code {
    Usuario? usuario;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            usuario = await usuarioservice.GetUsuarioByIdAsync(Id);

            if (usuario is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        catch (Exception ex)
        {
           
            NavigationManager.NavigateTo("error");
        }
    }
}
